*.o
*.mp4
*.dat
*.agr
*.swp
*.png
analysis/*.dat
analysis/*.agr
toyCppMDcode/analysis
knowledge/
MDknowledge/
FreeEnergySampling/ABF
FreeEnergySampling/eABF
FreeEnergySampling/colvar_test
FreeEnergySampling/NNABF/codeTests
FreeEnergySampling/NNABF/trainingSet
note
run

