*.o
*.mp4
*.dat
*.agr
*.swp
*.png
*.pkl

toyCppMDcode/
MDknowledge/
NNknowledge/

FreeEnergySampling/colvar_test
FreeEnergySampling/old_ABFANN/

FreeEnergySampling/ABFANN/old_ABFANN
FreeEnergySampling/ABFANN/plot
FreeEnergySampling/ABFANN/2dNNABF/analysis
FreeEnergySampling/ABFANN/2dNNABF/2dValidation
